---
import Text from '../components/Text/Text.astro'
---

<div class='bg-grey-100 mt-14 lg:mt-20'>
  <div class='container pt-24 pb-20 lg:pt-32 lg:pb-20'>
    <div
      class='grid grid-cols-2 lg:grid-cols-[max-content_max-content_max-content] gap-y-16 lg:gap-x-48 mb-24 lg:justify-center'
    >
      <div>
        <Text size='title-4' className='block mb-4 lg:mb-5'>Social</Text>
        <div class='flex flex-col gap-4'>
          <a href='/test'> <Text size='body-4'>Test</Text></a>
          <a href='/test'> <Text size='body-4'>Test</Text></a>
          <a href='/test'> <Text size='body-4'>Test</Text></a>
        </div>
      </div>
      <div>
        <Text size='title-4' className='block mb-4 lg:mb-5'>About Me</Text>
        <div class='flex flex-col gap-4'>
          <a href='/test'> <Text size='body-4'>Test</Text></a>
          <a href='/test'> <Text size='body-4'>Test</Text></a>
          <a href='/test'> <Text size='body-4'>Test</Text></a>
        </div>
      </div>
      <div>
        <Text size='title-4' className='block mb-4 lg:mb-5'>Links</Text>
        <div class='flex flex-col gap-4'>
          <a href='/test'> <Text size='body-4'>Test</Text></a>
          <a href='/test'> <Text size='body-4'>Test</Text></a>
          <a href='/test'> <Text size='body-4'>Test</Text></a>
        </div>
      </div>
    </div>
    <div class='text-center'>
      <Text size='body-4'>©2022 Alex Pagnotta</Text>
    </div>
  </div>
</div>
