---
import Text from '../components/Text.astro'

export type Props = {
  current?: string
}

const { current } = Astro.props
---

<div class='container flex justify-between py-12'>
  <a href='/'
    ><Text size='body-5'>
      Alex<Text size='body-5-bold'>Pagnotta</Text>
    </Text>
  </a>
  <a href='/'> <Text size='body-5' /></a>
  <nav class='hidden gap-8 lg:flex'>
    <a href='/'
      ><Text
        size={current === 'home' ? 'body-4-bold' : 'body-4'}
        highlight={current === 'home'}
        >Home
      </Text>
    </a>
    <a href='/blog'
      ><Text
        size={current === 'blog' ? 'body-4-bold' : 'body-4'}
        highlight={current === 'blog'}
        >Blog
      </Text>
    </a>
    <a href='/playground'
      ><Text
        size={current === 'playground' ? 'body-4-bold' : 'body-4'}
        highlight={current === 'playground'}
        >Playground
      </Text>
    </a>
  </nav>
  <Text className='block lg:hidden' size={'body-4'}>Menu</Text>
</div>
