---
import Text from '../components/Text.astro'
---

<div class='flex justify-between px-4 py-12'>
  <Text size='body-5'>
    Alex<Text size='body-5-bold'>Pagnotta</Text>
  </Text>
  <nav class='flex gap-8'>
    <a href='/'><Text size='body-4-bold'>Home</Text></a>
    <a href='/blog'><Text size='body-4'>Blog</Text></a>
    <a href='/playground'><Text size='body-4'>Playground</Text></a>
  </nav>
</div>
