---
import Text from '../components/Text/Text.astro'

export type Props = {
  subTitle?: string
}

const { subTitle } = Astro.props as Props
---

<div class='container flex flex-col gap-4 py-16 lg:py-24'>
  <Text size='title-1-light' className='pr-6'>
    <span class='inline-block'>Ciao I'm&nbsp;</span>
    <Text size='title-1' as='h1' className='inline-block relative'
      >Alex Pagnotta{subTitle && (
        <Text
          size='body-4'
          className='absolute bottom-10 -right-10 rotate-[25deg] transform text-pink-500 lg:bottom-16 lg:-right-14'
        >
          {subTitle}
        </Text>
      )}
    </Text>
  </Text>
  <Text size='body-5' className={'max-w-sm lg:max-w-2xl'}>
    <slot></slot>
  </Text>
</div>
