---
import Text from '../components/Text/Text.astro'

export type Props = {
  link?: string
}

const { link } = Astro.props as Props
---

<a href={link}>
  <div class='container flex flex-col gap-0.5'>
    <Text size='body-4' className='text-pink-500'
      ><slot name='subTitle'></slot>
    </Text>
    <Text size='title-4'><slot name='title'></slot></Text>
    <Text size='body-4'><slot name='body'></slot></Text>
  </div>
</a>
