---
import Text from '../components/Text/Text.astro'

export type Props = {
  title: string
  subTitle?: string
  subtitleLink?: string
}

const { title, subTitle, subtitleLink } = Astro.props as Props
---

<div class=' py-14 lg:py-20'>
  <div class='container'>
    <Text size='title-2' as='h1' className='block mb-8'
      >{title}

      {subTitle && (
        <a href={subtitleLink}>
          <Text
            size='body-4'
            className='inline-block -translate-y-8 -translate-x-2 rotate-[15deg] transform text-pink-500 lg:-translate-y-10'
          >
            {subTitle}
          </Text>
        </a>
      )}
    </Text>
  </div>

  <slot></slot>
</div>
