---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'

import '../styles/fonts.css'
import '../styles/global.css'

export type Props = {
  title?: string
  description?: string
}

const { title, description } = Astro.props as Props
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header />
    <slot></slot>
  </body>
</html>
